ons-toolbar.topbar
  .left
    ons-back-button Back
  .center {{pageOpt().title}}
  .right
    .favorites(ng-tap="pushFavorites()")
    .recents(ng-tap="pushRecents()")
    .search(ng-tap="pushSearch()")