@font-face
  font-family Nimbus Sans Cond
  src url('../fonts/nimbuscond.otf')
@font-face
  font-family Nimbus Sans Cond
  src url('../fonts/nimbuscondbold.otf')
  font-weight bold
@font-face
  font-family Nimbus Sans
  src url('../fonts/nimbusbold.otf')
  font-weight bold
.page__background
  background-color white
.expandable-content.content
  line-height 20pt
.detail-content.content
  margin -6px 0 0 0
  line-height normal
  color #B2B2B2
  font-size 18px
  padding 0 0 9px 0
                    
.content
  width 95%
  margin 10pt auto 10pt auto
  .title, table
    font-family Nimbus Sans Cond
    white-space prewrap
    word-wrap: break-word
  table
    font-size 12pt
    th
      text-align left
    td
      padding-top 7pt
  .row
    font-size 12pt
    width 100%
    clear both
    margin 15pt 0pt
    display table
  .left
    float left
    text-align right
    width 30%
  .right
    float left
    width 70%
  .title
    font-weight bold
    font-size 17pt
  .title-2
    margin-top 3%
    font-size 13pt

  .level-1, .level-2, .level-3, .level-4
    margin-left 8pt
    font-weight normal
    font-family Nimbus Sans Cond
    &.expandable::before
      content "+\00A0\00A0"
    &.expandable.expanded::before
      content "-\00A0\00A0"
  .level-1
    font-size 16pt
    color: #47738D
    margin-top 3%
    margin-left 0pt
  .level-2
    font-size 14pt
    color #619DC0
  .level-3
    font-size 13pt
    color #343C41
  .level-4
    font-size 13pt
  .bullet
    &::before
      content "\2022\00A0"
  .emphasis
    color: #0E70BF

  .one-half
    width 40%
    float left
    margin-left 5%
    padding-right 2.5%
    margin-right 2.5%
    white-space pre-wrap
    margin-top 4%
  .border-right
    border-right 1px solid black
ons-list ons-list-item.list__item
  font-family Nimbus Sans Cond
  font-size 16pt
  min-height 0
  line-height 30pt
  padding-top 4pt
.topbar
  background-color #192832
  .navigation-bar__title
    font-family Nimbus Sans Cond
    font-size 18pt
    margin-top 3pt
    color white
  .navigation-bar__left
    width 10%
    .back-button__label
      display none !important
  .navigation-bar__title
    width 61%
    overflow hidden
.bottomtext
  font-family Nimbus Sans Cond
  color #93AEBE
  text-align right
  position fixed
  right 10pt
  bottom 10pt
  z-index 100
.left
  .toolbar-button--quiet
    color white
.right
  .favorites, .recents, .search
    height 16pt
    width 16pt
    background-size cover
    position absolute
    margin auto
    top 0
    bottom 0
  .favorites
    background-image url("../images/favorites.png")
    right 10pt
  .recents
    background-image url("../images/recents.png")
    right 33pt
  .search
    background-image url("../images/search.png")
    right 55pt
.search-bar
  width 100%
  border-top none
  border-right none
  border-left none
  font-family Nimbus Sans Cond
  font-size 16pt
  border-bottom 1px solid lightgray
  height 30pt
  line-height 34pt
  text-indent 6pt
  color gray
  resize none
.search-progress
  color gray
.logo
  background-repeat no-repeat
  height 230pt
  width 172pt
  margin-left auto
  margin-right auto
  margin-top 35pt
  background-image url("../images/logo.png")
.start-button
  margin-left auto
  margin-right auto
  width 150pt
  height 35pt
  line-height 35pt
  font-family Nimbus Sans
  font-weight bold
  text-align center
  display block
  font-size 19pt
  background-color #209CEF
  border-radius 5pt