doctype html
html(lang='en', ng-app='fmCases')
  head
    meta(charset='utf-8')
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    title fmCases
    link(rel='stylesheet', href='styles/app.css')
    link(rel='stylesheet', href='lib/onsen/css/onsenui.css')
    link(rel='stylesheet', href='lib/onsen/css/onsen-css-components.css')
    link(rel="stylesheet", type="text/css", href="../styles/style.css")
    script(src='lib/onsen/js/angular/angular.js')
    script(src='lib/onsen/js/onsenui.js')
    script(src='https://rawgithub.com/colinman/hammer.js/master/hammer.min.js')
    script(src='https://rawgithub.com/colinman/ngHammer/master/nghammer.min.js')
    script(src='https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js')
    script(src='https://rawgithub.com/jashkenas/underscore/master/underscore-min.js')
    script(src='js/services.js')
    script(src='js/app.js')
    script(src='lib/ng-autofocus.js')
    script(type="text/ons-template", id="recents.html")
      include views/recents.jade
    script(type="text/ons-template", id="favorites.html")
      include views/favorites.jade
    script(type="text/ons-template", id="content.html")
      include views/content.jade
    script(type="text/ons-template", id="navigation.html")
      include views/navigation.jade
    script(type="text/ons-template", id="search.html")
      include views/search.jade

  body(ng-controller='RootCtrl')

    script(type="text/ons-template" id="alert.html")
      ons-alert-dialog(animation="default")
        .alert-dialog-title {{alertTitle}}
        .alert-dialog-content {{alertContent}}
        .alert-dialog-footer

    //landing page
    ons-navigator(ng-cloak, var='navi')
      ons-page
        .logo
        textarea.search-bar-main(rows="1", placeholder="Search...", ng-click="showSearch()", ng-model='searchlink')        
        ons-button.start-button(ng-click="pushRoot()") BROWSE

    .bottomtext FMCases