doctype html
html(lang='en', ng-app='fmCases')
  head
    meta(charset='utf-8')
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    title fmCases
    link(rel='stylesheet', href='styles/app.css')
    link(rel='stylesheet', href='lib/onsen/css/onsenui.css')
    link(rel='stylesheet', href='lib/onsen/css/onsen-css-components.css')
    link(rel="stylesheet", type="text/css", href="../styles/style.css")
    script(src='lib/onsen/js/angular/angular.js')
    script(src='lib/onsen/js/onsenui.js')
    script(src='http://hammerjs.github.io/dist/hammer.min.js')
    script(src='https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js')
    script(src='https://rawgithub.com/jashkenas/underscore/master/underscore-min.js')
    script(src='js/services.js')
    script(src='js/app.js')

  body(ng-controller='RootCtrl')

    //landing page
    ons-navigator(ng-cloak, var='navi')
      ons-page
        ons-toolbar
          .left
          .center {{pageTitle}}
          .right
            ons-toolbar-button Label
        ons-button(ng-click="pushRoot()") Start FMCases
    .bottomtext FMCases