include includes/topbar.jade

//navigation page template
ons-list
  ons-list-item(ng-repeat='item in pageOpt().items', modifier='tappable', ng-click='pushPage(item)') {{item.title}}

include includes/bottombar.jade