include includes/topbar.jade

//navigation page template
ons-list
  ons-list-item(ng-repeat='item in pageOpt().items', modifier='tappable', ng-tap='itemTapped(item)', ng-press='itemPressed(item)') {{item.title}}
    .expandable-content.content(ng-show="item.showExpandable", ng-bind-html="item.expandableContent")

include includes/bottombar.jade