include includes/topbar.jade

//navigation page template
ons-list
  ons-list-item(ng-repeat='item in pageOpt().items', modifier='tappable', ng-press='itemTapped(item)') {{item.title}}
    .expandable-content(ng-show="item.showExpandable") {{item.expandableContent}}

include includes/bottombar.jade